<h1>Welcome to Routing and Navigation</h1>

<button a routerLink="/route1" routerLinkActive="Active">Route 1</button> <br><br>
<button a routerLink="/route2" routerLinkActive="Active">Route 2</button>

<router-outlet> </router-outlet>
<!-- <div><webix-layout> </webix-layout></div>

<div><syncfusion-layout> </syncfusion-layout></div> 

<div><zooming-layout> </zooming-layout></div> -->

<!-- <div><app-employees> </app-employees></div>  -->

<!-- <div><webix-dashboard> </webix-dashboard></div>  -->

<!-- <div><post> </post></div> -->